In [7]:
import pandas as pd

In [20]:
df = pd.read_csv("world_alcohol.csv")
df.head()

   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            100 non-null    int64
 1   WHO region      100 non-null    object
 2   Country         100 non-null    object
 3   Beverage Types  100 non-null    object
 4   Display Value   95 non-null     float64
dtypes: float64(1), int64(1), object(3)
memory usage: 4.0+ KB

In [21]:
df.shape

(100, 5)

1. Write a Pandas program to find and drop the missing values from World alcohol consumption dataset.

In [22]:
df.isnull().sum()

Year              0
WHO region        0
Country           0
Beverage Types    0
Display Value     5
dtype: int64

In [23]:

df2 = df.dropna(how = 'any')
df2

,Year,WHO region,Country,Beverage Types,Display Value
0,1986,Western Pacific,Viet Nam,Wine,0.00
1,1986,Americas,Uruguay,Other,0.50
2,1985,Africa,Cte d'Ivoire,Wine,1.62
3,1986,Americas,Colombia,Beer,4.27
4,1987,Americas,Saint Kitts and Nevis,Beer,1.98
...,...,...,...,...,...
95,1984,Africa,Niger,Other,0.00
96,1985,Europe,Luxembourg,Wine,7.38
97,1984,South-East Asia,Indonesia,Wine,0.00
98,1984,Africa,Equatorial Guinea,Wine,0.00
99,1985,South-East Asia,Democratic People's Republic of Korea,Wine,0.00

2. Write a Pandas program to remove the duplicates from WHO region column of World alcohol consumption dataset.

In [26]:
df['WHO region'].count()

100

In [29]:
df['WHO region'].drop_duplicates()

0           Western Pacific
1                  Americas
2                    Africa
13    Eastern Mediterranean
18                   Europe
20          South-East Asia
Name: WHO region, dtype: object

3. Write a Pandas program to find out the alcohol consumption of a given year from the world alcohol consumption dataset.

In [35]:
df.groupby('Year')['Display Value'].sum()

Year
1984    19.17
1985    20.39
1986    29.03
1987    13.99
1989    22.21
Name: Display Value, dtype: float64

4. Write a Pandas program to find out the alcohol consumption details in the year 1986 where WHO region is Western Pacific; and country is VietNam from the world alcohol consumption dataset.

In [39]:
mask1 = df['Year'] == 1986
mask2 = df['WHO region'] == 'Western Pacific'
mask3 = df['Country'] == 'Viet Nam'
df1 = df[mask1]
df2 = df1[mask2]
df3 = df2[mask3]
print(df3['Display Value'].sum())

0.0

C:\Users\HP\AppData\Local\Temp\ipykernel_21544\4270706517.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df2 = df1[mask2]
C:\Users\HP\AppData\Local\Temp\ipykernel_21544\4270706517.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df3 = df2[mask3]

5. Write a Pandas program to find out the alcohol consumption details in the year 1986 or
1989 where WHO region is Americas from the world alcohol consumption dataset.

In [43]:
df3 = df[((df['Year']==1986) | (df['Year']==1989))  & (df['WHO region']=='Americas')]
print(df3['Display Value'].sum())

16.68

6. Write a Pandas program to find out the WHO region, Country, Beverage Types in the
year 1986 or 1989 where WHO region is Americas or Europe from the world alcohol
consumption dataset.

In [53]:
df4 = df[((df['Year']==1986) | (df['Year']==1989))  & ((df['WHO region']=='Americas') | (df['WHO region']=='Europe'))]
df4[['WHO region','Country','Beverage Types']]

   WHO region                           Country Beverage Types
1    Americas                           Uruguay          Other
3    Americas                          Colombia           Beer
8    Americas               Antigua and Barbuda        Spirits
11   Americas                         Guatemala           Beer
21   Americas                        Costa Rica        Spirits
29     Europe                             Italy          Other
34     Europe                Russian Federation           Wine
37     Europe                            Sweden           Beer
41     Europe                    Czech Republic           Beer
47   Americas                            Mexico          Other
49     Europe                             Malta           Wine
55   Americas                          Suriname           Wine
57     Europe                           Croatia           Wine
64   Americas  Bolivia (Plurinational State of)           Beer
74   Americas  Bolivia (Plurinational State of)        Spirits
78   Americas                           Jamaica          Other
79     Europe                           Finland          Other
83     Europe                           Ukraine          Other
86   Americas                           Bahamas           Wine
91     Europe                          Bulgaria           Beer

7. Write a Pandas program to filter the specified columns and records by range from world
alcohol consumption dataset.

In [55]:
def filterRange(row_start, row_end, col_start, col_end):
    return df.iloc[row_start : row_end, col_start : col_end]
filterRange(1,20,2,4)

                             Country Beverage Types
1                            Uruguay          Other
2                       Cte d'Ivoire           Wine
3                           Colombia           Beer
4              Saint Kitts and Nevis           Beer
5                          Guatemala          Other
6                          Mauritius           Wine
7                             Angola        Spirits
8                Antigua and Barbuda        Spirits
9                            Nigeria          Other
10                          Botswana           Wine
11                         Guatemala           Beer
12  Lao People's Democratic Republic           Beer
13                       Afghanistan          Other
14                          Viet Nam        Spirits
15                     Guinea-Bissau           Wine
16                        Costa Rica           Wine
17                        Seychelles           Beer
18                            Norway        Spirits
19                             Kenya           Beer

8. Write a Pandas program to filter those records where WHO region contains &quot;Ea&quot;
substring from world alcohol consumption dataset.

In [56]:
print(df[df["WHO region"].str.contains("Ea")])

    Year             WHO region                                Country
13  1984  Eastern Mediterranean                            Afghanistan  \
20  1986        South-East Asia                                Myanmar
25  1984  Eastern Mediterranean                                Tunisia
27  1984  Eastern Mediterranean                                Bahrain
36  1987  Eastern Mediterranean                                  Egypt
38  1987  Eastern Mediterranean                                  Qatar
52  1986  Eastern Mediterranean                           Saudi Arabia
53  1984  Eastern Mediterranean                                 Kuwait
58  1984  Eastern Mediterranean                                Somalia
59  1989  Eastern Mediterranean                   Syrian Arab Republic
60  1987  Eastern Mediterranean             Iran (Islamic Republic of)
63  1985  Eastern Mediterranean                                  Libya
65  1989  Eastern Mediterranean                                Somalia
66  1987  Eastern Mediterranean                                   Iraq
73  1986  Eastern Mediterranean                               Pakistan
75  1989  Eastern Mediterranean                            Afghanistan
84  1986        South-East Asia                              Sri Lanka
87  1989  Eastern Mediterranean                                   Iraq
88  1987  Eastern Mediterranean                                Lebanon
89  1986  Eastern Mediterranean                                Lebanon
97  1984        South-East Asia                              Indonesia
99  1985        South-East Asia  Democratic People's Republic of Korea

   Beverage Types  Display Value
13          Other           0.00
20           Wine           0.00
25          Other           0.00
27           Beer           2.22
36           Beer           0.07
38          Other           0.00
52           Wine           0.00
53           Beer           0.00
58        Spirits           0.00
59          Other           0.00
60          Other           0.00
63          Other           0.00
65           Beer           0.00
66           Wine           0.01
73          Other           0.01
75          Other           0.00
84          Other           0.00
87           Wine           0.01
88           Beer           0.42
89           Wine           0.70
97           Wine           0.00
99           Wine           0.00

9. Write a Pandas program to filter those records where WHO region matches with multiple
values (Africa, Eastern Mediterranean, Europe) from world alcohol consumption dataset.

In [57]:
filtered = df["WHO region"].isin(["Africa", "Eastern Mediterranean", "Europe"])
print(df[filtered])

    Year WHO region            Country Beverage Types  Display Value
2   1985     Africa       Cte d'Ivoire           Wine           1.62
6   1987     Africa          Mauritius           Wine           0.13
7   1985     Africa             Angola        Spirits           0.39
9   1984     Africa            Nigeria          Other           6.10
10  1987     Africa           Botswana           Wine           0.20
..   ...        ...                ...            ...            ...
93  1987     Africa         Madagascar          Other            NaN
94  1985     Europe            Ukraine        Spirits           3.06
95  1984     Africa              Niger          Other           0.00
96  1985     Europe         Luxembourg           Wine           7.38
98  1984     Africa  Equatorial Guinea           Wine           0.00

[69 rows x 5 columns]

10. Write a Pandas program to filter all records where the average consumption of beverages
per person from .5 to 2.50 in world alcohol consumption dataset.

In [58]:
print(df[(df['Display Value'] < 2.5) & (df['Display Value']>.5)].head())

    Year WHO region                Country Beverage Types  Display Value
2   1985     Africa           Cte d'Ivoire           Wine           1.62
4   1987   Americas  Saint Kitts and Nevis           Beer           1.98
8   1986   Americas    Antigua and Barbuda        Spirits           1.55
11  1989   Americas              Guatemala           Beer           0.62
17  1989     Africa             Seychelles           Beer           2.23