In [6]:
import pandas as pd

Creating a dataframe from scratch

In [7]:
data = {'apple' : [3,2,2,1],
        'orange': [3,2,2,3]}

In [8]:
df = pd.DataFrame(data)

In [9]:
df.head()

   apple  orange
0      3       3
1      2       2
2      2       2
3      1       3

In [10]:
df = pd.DataFrame(data, index = ['Ahmed' , 'Ali', 'Rashed', 'Irfan'])

In [11]:
df.head()

        apple  orange
Ahmed       3       3
Ali         2       2
Rashed      2       2
Irfan       1       3

In [12]:
df.loc['Ali']

apple     2
orange    2
Name: Ali, dtype: int64

In [16]:
pd.DataFrame.from_dict(data, orient = 'columns')

   apple  orange
0      3       3
1      2       2
2      2       2
3      1       3

In [17]:
pd.DataFrame.from_dict(data, orient = 'index', dtype = object, columns =['Ahmed','Ahmed','Ahmed','Ahmed'])

       Ahmed Ahmed Ahmed Ahmed
apple      3     2     2     1
orange     3     2     2     3

Impt Dataframe Operations

In [18]:
dff = pd.read_csv("../matches.csv")

In [19]:
dff.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [21]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               636 non-null    int64
 1   season           636 non-null    int64
 2   city             629 non-null    object
 3   date             636 non-null    object
 4   team1            636 non-null    object
 5   team2            636 non-null    object
 6   toss_winner      636 non-null    object
 7   toss_decision    636 non-null    object
 8   result           636 non-null    object
 9   dl_applied       636 non-null    int64
 10  winner           633 non-null    object
 11  win_by_runs      636 non-null    int64
 12  win_by_wickets   636 non-null    int64
 13  player_of_match  633 non-null    object
 14  venue            636 non-null    object
 15  umpire1          635 non-null    object
 16  umpire2          635 non-null    object
 17  umpire3          0 non-null      float64
dtypes: float64(1), int64(5), object(12)
memory usage: 89.6+ KB

In [22]:
dff = dff.drop_duplicates()

In [23]:
dff.shape

(636, 18)

In [25]:
dff['city'].describe()

count        629
unique        30
top       Mumbai
freq          85
Name: city, dtype: object

In [26]:
cat = pd.Categorical(['a','b','c','a','b','c'])
print(cat)

['a', 'b', 'c', 'a', 'b', 'c']
Categories (3, object): ['a', 'b', 'c']

In [27]:
import numpy as np

In [28]:
cat = pd.Categorical(["a", "c", "c", np.nan], categories=["b", "a", "c"])
df = pd.DataFrame({"cat": cat, "s":["a", "c", "c", np.nan]})
print(df.describe())
print(df["cat"].describe())

       cat  s
count    3  3
unique   2  2
top      c  c
freq     2  2
count     3
unique    2
top       c
freq      2
Name: cat, dtype: object