In [1]:
import pandas as pd
df = pd.read_csv("https://www.ishelp.info/data/insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [2]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [3]:
df.shape

(1338, 7)

In [11]:
index = df.columns
print(f'counts : {df[index].count()}')

counts : age         1338
sex         1338
bmi         1338
children    1338
smoker      1338
region      1338
charges     1338
dtype: int64

In [14]:
index = df.columns
print(f'counts :\n{df[index].nunique()}')

counts :
age           47
sex            2
bmi          548
children       6
smoker         2
region         4
charges     1337
dtype: int64

AttributeError: 'DataFrame' object has no attribute 'dtype'